<!DOCTYPE html>
<html lang="en" data-theme="light" class="h-full bg-base-200">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Admin">
      <%= assigns[:page_title] || app_name() %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body class="h-full text-base-content">
    <div class="flex h-full">
      <.drawer>
        <div class="pt-5 pb-4">
          <div class="flex items-center flex-shrink-0 px-4">
            <Heroicons.square_3_stack_3d class="w-10 h-10 p-2 text-primary" />
            <h2 class="text-xl font-semibold text-base-content text-opacity-80">Admin</h2>
          </div>
          <nav aria-label="Sidebar" class="mt-5">
            <div class="px-2 space-y-1">
              <UndiWeb.AdminNavigation.nav mobile />
            </div>
          </nav>
        </div>
        <div class="border-t border-base-content border-opacity-10">
          <nav aria-label="Sidebar" class="mt-2">
            <div class="px-2 space-y-1">

              <!-- ADMIN MENU -->
              <.admin_nav_link mobile label="Settings" navigate={~p"/admin/settings"}>
                <Heroicons.cog_8_tooth class="w-6 h-6 mr-4 text-primary" />
              </.admin_nav_link>

              <.admin_nav_link mobile label="Sign Out" method="delete" navigate={~p"/admin/sign_out"}>
                <Heroicons.arrow_right_on_rectangle class="w-6 h-6 mr-4 text-primary" />
              </.admin_nav_link>
            </div>
          </nav>
        </div>
      </.drawer>

      <!-- Static sidebar for desktop -->
      <div class="hidden lg:flex lg:flex-shrink-0">
        <div class="flex flex-col w-20 border-r shadow-lg border-base-300">
          <div class="flex flex-col flex-1 min-h-0 overflow-y-auto bg-base-100">
            <div class="flex-1">
              <div class="flex items-center justify-center py-4 bg-primary">
                <Heroicons.square_3_stack_3d class="w-10 h-10 p-2 text-primary-content" />
              </div>
              <nav aria-label="Sidebar" class="flex flex-col items-center py-6 space-y-2">
                <UndiWeb.AdminNavigation.nav />
              </nav>
            </div>
            <div class="flex flex-shrink-0 pb-5">
              <a href="#" class="flex-shrink-0 w-full">
                <!-- Bottom Nav -->
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col flex-1 min-w-0 overflow-hidden">
        <!-- Mobile top navigation -->
        <div class="lg:hidden">
          <div class="flex items-center justify-between px-4 py-2 border-b shadow-lg border-base-content border-opacity-10 bg-base-100 sm:px-6 lg:px-8">
            <div class="flex items-center">
              <Heroicons.square_3_stack_3d class="w-10 h-10 p-2 text-primary" />
              <h2 class="text-xl font-semibold text-base-content text-opacity-80">Admin</h2>
            </div>
            <div>
              <button phx-click={show_drawer("drawer")} type="button" class="inline-flex items-center justify-center w-12 h-12 -mr-3 text-primary bg-base-100 rounded-md hover:bg-base-200 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-base-300">
                <span class="sr-only">Open sidebar</span>
                <Heroicons.bars_3 class="w-6 h-6" />
              </button>
            </div>
          </div>
        </div>

        <div class="overflow-scroll">
          <div class="items-center justify-between hidden px-8 py-2 lg:flex">
            <div><!-- Can be used for search --></div>
            <div class="flex items-center gap-2">
              <.dropdown id="admin-settings-menu">
                <:toggle class="btn btn-link">
                  <Heroicons.user_circle class="w-8 h-8" />
                </:toggle>
                <:menu align="right">
                  <li>
                    <.link href={~p"/admin/settings"}>Settings</.link>
                  </li>
                  <li>
                    <.link href={~p"/admin/sign_out"} method="delete">Sign Out</.link>
                  </li>
                </:menu>
              </.dropdown>
            </div>
          </div>

          <main>
            <div class="px-4 pt-8 pb-20 mx-auto max-w-7xl sm:px-6 md:px-8">
              <%= @inner_content %>
            </div>
          </main>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-away.css" />
    <style>
      .tippy-box {
        background-color: #333;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 13px;
      }
    </style>
    <script type="module">
      import tippy from 'https://cdn.skypack.dev/tippy.js';

      const targets = document.querySelectorAll('[data-tooltip]')
      targets.forEach(target => {
        tippy(target, {
          placement: 'right',
          animation: 'shift-away',
          content: target.dataset.tooltip
        })
      })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
  </body>
</html>
